.navbar{
  width:100%;
  padding:20px 8%;
  display:flex;
  justify-content:space-between;
  align-items:center;

  position:sticky;
  top:0;
  z-index:1000;

  backdrop-filter:blur(20px);

  background:
  rgba(2,6,23,.75);

  border-bottom:
  1px solid rgba(255,255,255,.08);
}

.logo{
  font-size:34px;
  font-weight:800;

  background:
  linear-gradient(
    to right,
    #38bdf8,
    #22c55e,
    #8b5cf6
  );

  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.nav-links{
  display:flex;
  gap:30px;
  align-items:center;
}

.nav-links a{
  color:#cbd5e1;
  font-weight:500;
  transition:.3s;
}

.nav-links a:hover{
  color:#38bdf8;
}

.logout-btn{
  padding:10px 20px;
  border:none;
  border-radius:12px;
  color:white;
  background:
  linear-gradient(
    135deg,
    #ef4444,
    #dc2626
  );
}

@media(max-width:768px){

.navbar{
  flex-direction:column;
  gap:20px;
}

.nav-links{
  flex-wrap:wrap;
  justify-content:center;
}
}